
:root {
    --main-color: #3cb8b4;
    --alt-color: #ffbd3c;
    --main-text-color: #1B1A19;
    --accent-color: #A88BBA;
    --rounded-corner: 5px;
    --main-color-faded: #3cb8b450;
    --dark-background-color: #201E1E;
  }
  
html {
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    min-width: 350px;
    color: var(--main-text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

img{
    border-radius: 2px;
}

#aboutIcons{
    Color:rgb(89, 41, 113);
    margin-left:5px;
}

.mtop {
    margin-top: 1em;
}
.mtop-large {
    margin-top: 2em;
}
.mbot {
    margin-bottom: 1em;
}
.mbot-large {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.4s ease-out;
}
a:hover {
    color: var(--alt-color);
}

.fa-solid {
    padding:0 0 0 0.3em;
    margin-left:0.1em;
}

#top{
    margin-top:0.5em;
}

body > header {
    text-align: right;
    padding: 0.5em 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom:1.3em;
}
body > header:after {
    content: "";
    display: block;
    clear: both;
}

body> header nav{
    margin-top:2em;
}

body > header img {
    float: left;
    margin-right: 2em;
    transition: all 0.8s ease-in-out;
}

#siteLogo {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    display: block;
    margin-bottom: 1em;
}

#siteLogo:hover {
    /* transform: rotateZ(-121deg) translateY(40px) translateX(10px); */
    transform: rotateZ(-121deg) translateY(6px) translateX(13px);
}

.MonicoImage {
    margin-left: auto;
    margin-right:auto;
    max-width:75%;
    padding-top: 1.3em;
}
body > header h1 {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left:0.7em;
}
body > header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

/* body > header nav ul {
    height: 100%;
    margin-top: 2em;
} */

body > header nav li {
    margin-top: 0.55em;
}
body > header nav a {
    font-weight: bold;
}

main {
    padding: 0 1em;
}

body > footer {
    background-color: var(--dark-background-color);
    color: #FFF;
    padding: 2em 0;
    text-align: center;
}
body > footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body > footer li {
    display: inline-block;
}
body > footer li:not(:last-child) {
    margin-right: 1em;
}
body > footer a {
    color: #FFF;
}


form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
form div {
    margin-top: 2em;
}
label {
    font-weight: bold;
}
input, textarea {
    display: block;
    width: 100%;
    margin-top: 0.8em;
    padding: 0.6em 1.2em;
}
button[type=submit] {
    background-color: var(--alt-color);
    border: 1px solid var(--main-text-color);
    border-radius: var(--rounded-corner);
    padding: 0.2em 0.8em;
}

.text-group{
    display:flex;
    flex-direction:row;
    margin:0;
    padding:0;
    border:0;
    justify-content:center
}

.col-1{
    width:895px;
}

.col-2{
    width:256px;
}

.col-1, .col-2{
    box-sizing:border-box;
    padding:0 16px;
}

.medium-spacer{
    margin-bottom:32px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--alt-color);
    color: var(--main-text-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width:80px;
}

#myBtn:hover {
    background-color:#ffdfa0;
    color:var(--main-text-color)
}


@media screen and (min-width: 40em) {
    .desktop-only {
        display: block;
    }

    body > header div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
    body > header div nav {
        flex-grow: 1;
        margin-left: 2em;
    }
    body > header div ul {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        max-width: 325px;
    }
    body > header ul.desktop-only {
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        margin-left: auto;
        margin-bottom: 1em;
    }
}
